@import "../../assets/css/_variables";
@import "../../assets/css/spacing";

nav a.nav-link{
    letter-spacing: 0.0325rem;
    cursor: pointer;
    
}
.navbar-container{
    display: flex;
   
}

@media (min-width: 40em) {
    .logo{
        height: 65% !important;
        margin-top: 30px !important;
        margin-left: 50px !important;
    }

    .navbar-container{
        display: flex;
    }

    .navbar-brand{
        max-width: 17.25rem;
        padding: 0 !important;
        height: 3em !important;
        margin-right: 50px;
    }
    .navbar{
        float: left;
        width: fit-content;
        height: fit-content;
        padding: 0;
        grid-row: 1 / 2;
    }
}


.navbar-toggler {
    border: none;
    width: 1em;
    margin: 0 !important;
}

.navbar{
    float: left;
    width: 100%;
    height: fit-content;
    padding: 0;
    grid-row: 1 / 2;
}

#nav-border{
    border: 1px solid #707070;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
    margin-right:20px;
    color: #000000;
}



#free{
    background-color: $orange--default;
    margin: 10px;
}
.free{
    color: #fff !important;
}
nav ul li{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
}

nav ul{
    padding: 0 !important;
}

.navbar-brand{
    max-width: 17.25rem;
    padding: 0 !important;
    height: 3em !important;

    margin-left: 20px;
}


.logo{
    height: 50%;
    margin-top: 20px;
}

.navbar-collapse{
    padding: 30px;
}
.menu-icon{
    display: none;
}

@media screen and (max-width: 960px){
    .nav-menu{
        display: flex;
        flex-direction: row;
        width: 70%;
        height: 100vh;
        position: absolute;
        top: 80px;
        right: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.nactive{
        background:#FFF8F3;
    }
}